%h1.h3= @lesson_date.lesson.name

%h2.h3 開催日 #{@lesson_date.date}

.row.mt-4
  .mt-2
    %h3.h4 開始時刻
    = l @lesson_date.start_at, format: :time
  .mt-4
    %h3.h4 終了時間
    = l @lesson_date.end_at, format: :time
  .mt-4
    %h3.h4 定員
    = @lesson_date.capacity
  .mt-4
    %h3.h4 開催場所URL
    = @lesson_date.url

.d-flex
  .mt-4.me-4
    = link_to '予約ユーザー一覧', admins_lesson_lesson_date_reserved_users_path(@lesson_date.lesson, @lesson_date), class: 'btn btn-primary'
  .mt-4.d-flex
    = link_to '編集', edit_admins_lesson_lesson_date_path(@lesson_date), class: 'btn btn-success'
    = button_to '削除', admins_lesson_lesson_date_path(@lesson_date), method: :delete, data: { turbo_confirm: t('views.common.confirm.destroy') }, class: 'btn btn-danger'
