= link_to 'レッスンを登録', new_admins_lesson_path, class: 'btn btn-primary mb-3'

%table.table
  %thead
    %tr
      %th イベント名
      %th 講師名
      %th 公開状況
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= link_to lesson.name, admins_lesson_path(lesson)
        %td= lesson.instructor
        %td= lesson_publish_label(lesson)

= paginate @lessons
