%h1 Listing lessons

%table
  %thead
    %tr
      %th Name
      %th Overview
      %th Capacity
      %th Instructor name
      %th Hidden
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.name
        %td= lesson.overview
        %td= lesson.capacity
        %td= lesson.Instructor_name
        %td= lesson.hidden
        %td= link_to 'Show', lesson
        %td= link_to 'Edit', edit_lesson_path(lesson)
        %td= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
